.titulo-dashboard {
    text-align: center;
    margin-bottom: 20px;
}

.bienvenida {
    background: #f4f4f8;
    padding: 15px;
    border-radius: 10px;
}

.accesos-rapidos .grid-access {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    margin-top: 10px;
}

.card.acceso {
    background: white;
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #ddd;
    text-decoration: none;
    color: black;
    transition: 0.2s;
}

.card.acceso:hover {
    transform: scale(1.05);
}

.estadisticas .stats-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 20px;
    gap: 15px;
}

.stat-card {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    border: 1px solid #ddd;
}

.stat-card .numero {
    font-size: 30px;
    font-weight: bold;
}
